body:not(._wave-off) .channel-page__video-player--theatre-mode .player-video video {
  position: unset !important;
}

#_wave {
  display: none;
}

body:not(._wave-off) .channel-page__video-player--theatre-mode #_wave {
  display: block;
  position: absolute;
  width: 100%;
}

#_wave-container {
  display: flex;
  justify-content: space-around;
}

#_wave-container > div {
  margin: 0 4px;
  text-align: center;
}

._wave-title {
  font-variant: small-caps;
  letter-spacing: 1px;

  font-size: 32px;
  min-width: 56px;
  height: 56px;
  line-height: 56px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
._wave-score {
  font-size: 20px;
}

#_wave-stats {
  text-align: right;
  margin-right: 6px;
  color: #666;
}

#_wave-stats > span {
  color: #ccc;
}
