#_hype {
	pointer-events: none;
	position: absolute;
	width: 100%;
	/* padding-top: 56.25%; */
}

body._hype-off .video-player__container--theatre #_hype {
	display: none;
}

#_hype-container {
	display: flex;
	justify-content: space-around;
}

._hype-box {
	margin: 0 4px;
	text-align: center;
}

._hype-title {
	font-variant: small-caps !important;
	letter-spacing: 1px !important;
	font-size: 32px !important;
	line-height: 56px !important;
	min-width: 56px;
	height: 56px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
._hype-score {
	font-size: 20px !important;
}

#_hype-stats {
	text-align: right;
	margin-right: 6px;
	color: #666;
}

#_hype-stats > span {
	color: #ccc;
}

._hype-hyped {
	color: rgb(169, 145, 212) !important;
}
